{% extends 'base.html.twig' %}

{% block main %}
    <h2 class="mdc-typography--display3 text--center">Surveez</h2>



        {{ render(controller('AppBundle:Security:renderLogin')) }}



{% endblock %}