{% extends 'base.html.twig' %}

{% block main %}
    <h1>Se connecter</h1>



        {{ render(controller('AppBundle:Security:renderLogin')) }}

    <div>
        <a href="/register"> S'inscrire </a>
    </div>

{% endblock %}