.dashboard {
    background-color: white;
    margin-left: 300px;
    height: 100%
}
.dashboard-title {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: #2196F3;
    margin: 20px 40px 0;
    padding-bottom: 10px;
    border-bottom: solid 1px currentColor;
}

.dashboard .content {
    background-color: white;
    height: auto;
    padding: 0 40px;
}
.surveys-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.survey-item {
    box-sizing: border-box;
    width: 45%;
    margin-bottom: 40px;
    padding:10px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    transition: all 0.25s ease;
}

.survey-item:hover {
    box-shadow: 0 6px 16px rgba(0,0,0,0.5);
}

.survey-title{
    font-weight:bold;
}

.surveys-itemHeader {
    font-size: 18px;
    text-align: center;
}

.icons-list button {
    margin: 0 10px;
    color: #9E9E9E;
    text-decoration: none;
    border:none;
    background-color: transparent;
    transition: color 0.25s ease;
}

.icons-list button:hover {
    cursor: pointer;
    color: #2196F3;
}

.icons-list {
    display: flex;
    justify-content: center;
}


.publicUrl {
    word-wrap: break-word;
}

.publicSurvey:hover{
    cursor: pointer;
}

.createdBy {
    font-weight: bold;
}

.publicSurvey a {
    text-decoration:none;
    color: black;
}