{% extends 'base.html.twig' %}

{% block body %}
    <h1>Accueil</h1>

    <div>
        <button id="createSurvey">Créer un questionnaire</button>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
