{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
    <h1>Accueil</h1>

    <div>
        <button id="createSurvey">Créer un questionnaire</button>
    </div>

    {% if surveys is defined %}
        {% for survey in surveys %}
            {% if survey.user.id is defined %}
                {% if survey.user.id == app.user.id %}
                    <div>
                        <span data-id="{{ survey.id }}">{{ survey.title }}</span>
                        <button id="edit">Editer</button>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% else %}
        <h1>Accueil</h1>

        <div>
            <a href="/login"> Se connecter </a>

        </div>
        <a href="/register"> S'inscrire </a>
    {% endif %}

{% endblock %}

{% block stylesheets %}

{% endblock %}
