:root {
    --mdc-theme-primary: #2196F3;
}

body, html {
    font-family: sans-serif;
    margin:0;
}

.Title {
    text-align: center;
}

.mdc-button a {
    color: #fff;
    text-decoration: none;
}

.container{
    display: flex;
}

.container--column {
    flex-direction: column;
}
.card{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin:auto;
}

.user-infos {
    text-align: center;
}

.user-infos .user-name {
    font-weight: bold;
}

.disconnect {
    position: absolute;
    bottom: 20px;
    left: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.dashboard {
    width: 100%;
    background-color: white;
    margin-left: 300px;
    height: 100%
}
.dashboard-title {
    display: flex;
    height: 50px;
    background-color: #E6E6E6;
    justify-content: center;
    align-items: center;
    color: #2196F3;
}

.dashboard .content {
    background-color: white;
    height: auto;
    padding: 0 40px;
}

.creerQuestionnaire button {
    display: block;
    margin-top: 20px;
}

.surveys-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.survey-item {
    box-sizing: border-box;
    width: 45%;
    margin-bottom: 40px;
    padding:10px;
    border: solid 2px #2196F3;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.survey-title{
    font-weight:bold;
}

.nb-answers{
    font-weight:bold;
}

.icons-list {
    display: flex;
    justify-content: center;
}

.icons-list a {
    margin: 0 10px;
    color: #2196F3;
    text-decoration: none;
}

.home button {
    margin-top: 20px;
}

