:root {
    --mdc-theme-primary: #2196F3;
}

body, html {
    font-family: sans-serif;
    margin:0;
}

.Title {
    text-align: center;
}

.mdc-button a {
    color: #fff;
    text-decoration: none;
}

.Button--small {
    text-align: center;
}

.container{
    display: flex;
}

.container--column {
    flex-direction: column;
}
.card{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin:auto;
}

.user-infos {
    color: white;
    text-align: center;
}

.user-infos .user-name {
    font-weight: bold;
}

.disconnect {
    position: absolute;
    bottom: 20px;
    left: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.creerQuestionnaire button {
    display: block;
    margin-top: 20px;
}

.nb-answers{
    font-weight:bold;
}

.home button {
    margin-top: 20px;
}

