{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        <label for="textContent">Titre de votre question :</label>
        <input id="textContent" type="text">
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
