{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
        <p>{{ id }}</p>
        <form action="" method="post">
    <div class="question">
        <h1>Créez votre question</h1>

        <select autocomplete="off" name="test">
            <option value="" selected disabled hidden>Choisissez votre type de question</option>
            <option value="0">Texte libre</option>
            <option value="1">Choix unique</option>
            <option value="2">Choix multiples</option>
            <option value="3">Nombre entier</option>
            <option value="4">Nombre décimal</option>
            <option value="5">Plage numérique</option>
            <option value="6">Nombre personnes/d'articles</option>
            <option value="7">Supplément de prix</option>
        </select>
        <div id="content">
            <label for='textContent'>Titre de votre question :</label>
            <input id='textContent' name="textContent" type='text'>
        </div>
        <button id="addQuestion" type="submit">Ajouter la question</button>
    </div>
        </form>
    {% else %}
        <h1>Veuillez vous connecter</h1>
        <div>
            <a href="/login"> Se connecter </a>
        </div>
    {% endif %}
{% endblock %}

{% block stylesheets %}

{% endblock %}


