{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
        <form action="" method="post">
    <div class="question">
        <div><header><h1 class="mdc-typography--display3">Créez votre question</h1></header></div>

        <div class="questionCreation">
            Type de la question
            <select autocomplete="off" name="test" id="selectQuestionType" class="mdc-select">
                <option value="" selected disabled hidden>Choisissez votre type de question</option>
                <option id="test" value="0">Texte libre</option>
                <option value="1">Choix unique</option>
                <option value="2">Choix multiples</option>
                <option value="3">Nombre entier</option>
                <option value="4">Nombre décimal</option>
                <option value="5">Plage numérique</option>
                <option value="6">Nombre personnes/d'articles</option>
                <option value="7">Supplément de prix</option>
            </select>

            <div id="content"></div>
            <button id="addQuestion" class="mdc-button mdc-button--raised" type="submit">Créer</button>
        </div>



    </div>
        </form>
    {% else %}
        <h1>Veuillez vous connecter</h1>
        <div>
            <a href="/login"> Se connecter </a>
        </div>
    {% endif %}
{% endblock %}




